.report-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .report-popup {
    max-width: 300px;
    background-color: #ffa500; 
    padding: 20px;
    border-radius: 5px;
    position: relative; 
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #666;
  }
  
  h2 {
    margin-top: 0; 
  }
  
  .report-text {
    width: calc(100% - 40px); 
    height: 150px; 
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; 
  }
    
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .submit-button {
    flex: 1;
    padding: 10px 20px;
    background-color: #ff0000; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
  }
  
  .submit-button:hover {
    background-color: #cc0000; 
  }
  
  .cancel-button {
    flex: 1;
    padding: 10px 20px;
    background-color: #ccc; 
    color: #000; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
  }
  
  .cancel-button:hover {
    background-color: #999; 
  }
  