/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: #ffa500; /* Orange background */
    padding: 20px;
    border-radius: 5px;
    position: relative; /* Position relative for absolute positioning of the close button */
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #666;
  }
  
  .close-icon {
    font-size: 24px;
  }
  