.sign-container {
    max-width: 300px;
    margin: 0 auto;
    background-color: #ffa500; /* Orange background */
    padding: 20px;
    border-radius: 5px;
    position: relative; /* Position relative for absolute positioning of the close button */
  }
  