.sign-button-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
}

.sign-button {
  padding: 10px 20px;
  background-color: #111010; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px; 
}

.sign-button:last-child {
  margin-right: 0; 
}
